##1.What are the two values of the Boolean data type? How do you write them?

##Answer

two values of boolean data type are True and False

example:

a = 10

b = 20

print(a == b)
 

here we used boolean datatype to compare between a and b

##2. What are the three different types of Boolean operators?

##Answer
three different types of boolean operators are and, or, not

and -	True if both the operands are true	x and y

or -	True if either of the operands is true	x or y

not	- True if operand is false.	not x

##3. Make a list of each Boolean operator&#39;s truth tables (i.e. every possible combination of Boolean
##values for the operator and what it evaluate ).

##Answer

and table

|a|   |b| |a and b|
|--|  |--| |-----|
|False|	|False|	|False|
|False|	|True| |False|
|True|	|False|	|False|
|True|	|True| 	|True|

---
or table

|a|	|b|	|a or b|
|--| |--| |--|
|False|	|False|	|False|
|False|	|True|	|True|
|True|	|False|	|True|
|True|	|True|	|True|

---
not table

|a|	|not a|
|--| |--|
|False|	|True|
|True|	|False|

##4. What are the values of the following expressions?
##(5 &gt; 4) and (3 == 5)
##not (5 &gt; 4)
##(5 &gt; 4) or (3 == 5)
##not ((5 &gt; 4) or (3 == 5))
##(True and True) and (True == False)
##(not False) or (not True)

##Answer

In [1]:
(5 > 4) and (3 == 5)

False

In [2]:
not (5 > 4)

False

In [3]:
(5 > 4) or (3 == 5)

True

In [4]:
not ((5 > 4) or (3 == 5))

False

In [5]:
(True and True) and (True == False)

False

In [6]:
(not False) or (not True)

True

##5. What are the six comparison operators?

##Answer
1. Less than (<)
2. Greater than (>)
3. Less than or equal to (<=)
4. Greater than or equal to (>=)
5. Equal to (==)
6. Not equal to (!=)

these are the six comparison operators in pyhton.

##6. How do you tell the difference between the equal to and assignment operators?Describe a condition and when you would use one.

##Answer
equal to has only one'='
assignent operator has two '=='

example:


```
a=10
if a==10:
  print("true")
```

7. Identify the three blocks in this code:

spam = 0

if spam == 10:

print(&#39;eggs&#39;)

if spam &gt; 5:

print(&#39;bacon&#39;)

else:

print(&#39;ham&#39;)

print(&#39;spam&#39;)

print(&#39;spam&#39;)

In [12]:
spam =0
# 1st block
if spam ==10:
  print("eggs")
# second block
if spam>5:
  print("bacon")
# third block
else:
  print("ham")
  print("spam")
  print("spam")

ham
spam
spam

##8. Write code that prints Hello if 1 is stored in spam, prints Howdy if 2 is stored in spam, and prints Greetings! if anything else is stored in spam.

In [27]:
spam=0
if spam==1:
  print("Hello")
elif spam==2:
  print("Howdy")
elif spam!=(0,3,4,5,6,7,8,9):
  print("greetings")

greetings

##9.If your programme is stuck in an endless loop, what keys youâ€™ll press?

##Answer
we can use ctrl+c to exit from an endless loop

##10. How can you tell the difference between break and continue?

##answer
Break is used  eliminate the execution of remaining iteration of loop

continue is used to  terminate only the current iteration of loop.

##11. In a for loop, what is the difference between range(10), range(0, 10), and range(0, 10, 1)?

##Answer

There is no difference between range (10), range (0,10) and range (0,10,1). range function in Python takes 3 arguments and they are initial value, final value and increment value.

##12. Write a short program that prints the numbers 1 to 10 using a for loop. Then write an equivalent program that prints the numbers 1 to 10 using a while loop.

In [31]:
# using for loop
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [32]:
# using while loop
i = 1
while i <= 100:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

##13. If you had a function named bacon() inside a module named spam, how would you call it after importing spam?

##Answer
ill call it as spam.bacon()