1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
*
&#39;hello&#39;
-87.8
-
/
+
6

answer:
'hello',-87.8,6 are the values and
*,-,/,+ are the expressions

2. What is the difference between string and variable?

answer:a string is a value that represents a text.

a variable is a name that can refer to any value

example for string is 'hello'

example for variable is a='hello'

here a is variable which is more or less an object

3. Describe three different data types.

answer:

Integers â€“ This value is represented by int class. It contains positive or negative whole numbers. in python there is no limit to how long an integer value can be.


String - A string is a collection of one or more characters put in a single quote, double-quote or triple quote. In python there is no character data type, a character is a string of length one. It is represented by str class.


tuple -  tuple is an ordered collection of Python objects.tuples are immutable i.e. tuples cannot be modified after it is created. It is represented by tuple class.

4. What is an expression made up of? What do all expressions do?

 An expression is made up of operators, constants and variables. An expression may consist of one or more operands, and zero or more operators to produce a value.

an expression may combine two or more variables to give us a desired result

examples: x+y,x*y,x/y

We have many different types of expressions in Python.some of them are:

constant expression, arithmetic expression, logical expression etc.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

An expression is any word or group of words or symbols that is a value. In programming, an expression is a value, or anything that executes and ends up being a value.

in above example spam=10

'spam', '=', 10 are the expressions because each of them has a definite and unique meaning or value. 

A statement is a group of expressions and/or statements that you design to carry out a task or an action.

the whole "spam=10" is a statement because it carries out the task of assigning spam to 10.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [2]:
bacon =22
c=bacon+1
print(c)

23

the variable bacon contain a value 23

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

In [4]:
a='spam'+'spamspam'
print(a)
b='spam'*3
print(b)

spamspamspam
spamspamspam

both have the values as spamspamspam and spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

A variable name must start with a letter or the underscore character.


A variable name cannot start with a number.


A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

so these are the reasaons we cant use 100 as a variable name

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

there is int() function to get integer value.

float() function to get floating-point number

str() function to  get or convert into string

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

because above expression contain integer value in between of string it gives a TypeError

it can only concatenate str (not "int") to str

i can write it as 'i have eaten 99 burritos'